<!-- Header Start -->
<header class="navigation">
  <div class="header-top ">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-lg-2 col-md-4">
          <div class="header-top-socials text-center text-lg-left text-md-left">
          </div>
        </div>
        <div class="col-lg-10 col-md-8 text-center text-lg-right text-md-right">
          <div class="header-top-info mb-2 mb-md-0">
            <a href="tel:+23-345-67890">Call Us : <span>+1-709-1234567</span></a>
            <a href="mailto:support@gmail.com"><i class="fas fa-envelope mr-2"></i><span>taylorinsurance@info.com</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="navbar">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg px-0 py-4">
            <a class="navbar-brand" href="index.html">
              Taylor<span>Insurance.</span>
            </a>
      
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample09"
              aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
              <span class="fa fa-bars"></span>
            </button>
      
            <div class="collapse navbar-collapse text-center" id="navbarsExample09">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item @@home">
                  <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item @@about">
                  <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item @@service"><a class="nav-link" href="service.html">Services</a></li>
                <li class="nav-item @@contact"><a class="nav-link" href="contact.html">Contact</a></li>
              </ul>
      
              <div class="my-2 my-md-0 ml-lg-4 text-center">
                <a href="quote.html" class="btn btn-solid-border btn-round-full">Get a Quote</a>
              </div>
              <div class="my-2 my-md-0 ml-lg-4 text-center">
                <a href="view-user-login.html" class="btn btn-solid-border btn-round-full">View Quote / Policy</a>
              </div>
              <div class="my-2 my-md-0 ml-lg-4 text-center">
                <a href="edit-profile.html" class="btn btn-solid-border btn-round-full">Edit Profile</a>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Header Close -->